/* Wordpress Default Classes */
.comments {

  &-area {

  }



  &-title {

  }


}

.comment {

  &-body {
    border: 1px solid $lightGrey;
    border-radius: 8px;
    box-shadow: 5px 5px 10px Grey;
    margin: 0 0 25px 0;
    padding: 25px;
  }

  &-list {
    list-style: none;
    padding: 0;
  }

  &-author {
    float: left;
  }

  &-meta {
    margin-left: 100px;
  }

  &-meta a {
    clear: left;
  }

  &-respond {

  }

  &__cite {

  }

  &__timestamp {
    text-decoration: none;
    font-size: 0.8rem;
  }

  &__timestamp:hover {
    color: $mainGreen;
    font-weight: 600;
  }

  &__timestamp-div {
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: 10px;
  }

  &-form-comment label {
    display: none;
  }

  &-form-comment textarea {
    border: 1px solid $lightGrey;
    border-radius: 8px;
    box-shadow: 5px 5px 10px Grey;
    padding: 10px;
  }

  &-form-url {
    display: none;
  }

  &-form-author input, &-form-email input {
    border: none;
    border-radius: 5px;
    box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.4);
    height: 25px;
    padding: 5px 10px;
  }

  &-form-cookies-consent label {
    margin-left: 10px;
  }
}

.submit {
  border-radius: 4px;
  background-color: $mainGreen;
  font-size: 1.19rem;
  padding: 12px 24px;
  border: none;
  outline: none;
  color: #FFF;
}

.submit:hover {
  background: linear-gradient(rgb(56, 194, 173), $mainGreen);
}

.reply {
  clear: left;
  margin-left: 12px;
  text-transform: uppercase;
  font-size: 0.7rem;
  color: $lightGrey;
  float: left;


  &__icon {

  }
}

.reply a {
  text-decoration: none;
  color: $lightGrey;
}

.reply a:hover {
  color: $mainGreen;
  font-weight: 700;
}

.vcard {

}

.odd {

}

.alt {

}

.thread-odd {

}
