/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
  overflow: hidden;
  padding: 20px 0;


  &__inner {
    margin: 10px;
    border-radius: 10px;
  }

  &__inner-front {
    height: 410px;
		box-shadow: 0 6px 15px -1px #777;
  }

	&__inner-front--tall {
		height: 450px;
	}

  &__inner-back {
    background-color: $lightGreen;
    font-weight: 200;
    height: 370px;
    padding: 20px 15px;
    box-shadow: 6px 6px 10px -3px #777;
  }

	&__inner-back--tall {
		height: 420px;
	}

  &__img {
    border-radius: 10px 10px 0 0;
		max-height: 45%;
		width: 100%;

  }

  &__icon-large {
    font-size: 4rem;
  }
}

.flip-container h2 {
  font-weight: 200;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.front {

}

.back {

}

.flip-container, .front, .back {
	width: 320px;
	height: 430px;

}

.flip-container--tall, .front--tall, .back--tall {
	height: 470px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}
