.main-navigation {
  padding-top: 2px;

  ul {
    padding: 0;
    margin: 0;
    white-space: nowrap;
  }

  &__dropdown ul {
    display: none;
  }

  &__dropdown:hover ul{
    display: inline-block;



    @mixin atMedium {
      display: block !important;
      padding-top: 10px;
      position: absolute;
    }

  }

  &__dropdown li{
    font-size: 0.75rem;
    text-align: left;

    @mixin atMedium {
      display: block !important;
      list-style-type: circle;
      clear: left;
      background-color: $darkBackground;
      width: 100px;
      padding: 0 10px 10px 0;
    }

  }

  &__dropdown-icon {
    font-size: 0.65rem;
  }

  ul:before,
  ul:after {
    content: " ";
    display: table;
  }

  ul:after {
    clear: both;
  }

  @mixin atMedium {
    float: left;
    margin-right: 20px;
    min-width: 650px;
  }
}

.main-navigation li {
  list-style: none;

  @mixin atMedium {
    float: left;
    padding-left: 20px;
    display: inline-block;
  }
}

.main-navigation a {
  display: block;
  padding: 10px 20px;
  color: #FFF;
  text-decoration: none;
  font-weight: 300;
  @mixin atMedium {
    display: inline-block;
    padding: 0;
  }


}

.main-navigation .current-menu-item a,
.main-navigation a:hover {
  color: $lightGreen;
}
