.page-banner {
  background-color: #000;
  padding: 80px 0;
  position: relative;
  @mixin atSmall {
    padding: 95px 0;
  }

  &__content {
    position: relative;
    z-index: 2;
  }

  &__title {
    text-align: center;
    font-weight: 300;
    font-size: 3.0rem;
    margin: 0 0 1rem 0;
    color: #FFF;
    @mixin atMedium {
      font-size: 4.8rem;
    }
  }

  &__bg-image {
    opacity: .5;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &__intro {
    text-align: center;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.3;
    color: #EDEDED;
    @mixin atMedium {
      font-size: 1.65rem;
    }
  }

  &__intro p {
    margin: 0;
  }
}
