.site-header {
  z-index: 101;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 0;
  background-color: $darkBackground;

  &__logo-bar {
    min-width: 300px;
    max-height: 102px;

    @mixin atMedium {
      min-width: 625px;
    }
  }

  &__logo {
    margin: auto;
    width: 150px;
    margin-bottom: 15px;
  }

  &__menu {
    visibility: hidden;
    position: absolute;
    background-color: color($mainGreen a(89%) b(+3%));
    left: 0;
    right: 0;
    top: 110px;
    padding-top: 10px;
    opacity: 0;
    transform: translateY(-20%);
    transition: opacity .3s ease-out, visibility .3s ease-out, transform .3s ease-out;
    padding-bottom: 20px;

    &--active {
      opacity: 1;
      transform: translateY(0);
      visibility: visible;
    }

    @mixin atMedium {
      visibility: visible;
      opacity: 1;
      transform: translateY(0) scale(1);
      position: relative;
      background-color: transparent;
      /* float: right; */
      margin: auto;
      width: 50%;
      padding-top: 0;
      padding-bottom: 0;
      top: 0;
    }
  }

  &__menu-trigger {
    color: #FFF;
    cursor: pointer;
    font-size: 1.2rem;
    margin: auto;
    width: 100%;
    height: 50px;
    text-align: center;
    vertical-align: bottom;
    /* position: absolute; */
    z-index: 10;
    /* top: 7px; */
    /* right: 46px; */

    @mixin atSmall {
      /* top: 5px; */
      font-size: 1.4rem;
    }

    @mixin atMedium {
      top: 5px;
      display: none;
    }
  }


}
