.site-footer {
  background-color: $darkBackground;
  padding: 50px 0;

  &__social-icons {
    margin: auto;
    text-align: center;
  }

  &__icon-background {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 100em;
    text-align: center;
    width: 54px;
    height: 54px;
    font-size: 1.32rem;
    color: #FFF;
    margin: 0 1.25%;
    box-sizing: border-box;
    line-height: 54px;
    display: inline-block;
  }

  &__icon {}

  &__copy {
    margin-top: 15px;
    margin-bottom: 0;
    color: $lightGrey;
  }
}

#facebook-icon:hover {
  background-color: #3D5A96;
}

#twitter-icon:hover {
  background-color: #1DACED;
}

#instagram-icon:hover {
  background-color: #417299;
}
